@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url('../assets/bg1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent); */
  /* transition: 0.5s; */
}

/* .header:hover::after {
  left: 0;
} */

.logo {
  width: 120px;
  height: 80px;
  object-fit: contain;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0; /* Start with collapsed navbar */
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    flex-direction: column;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transition max-height for smoother effect */
  }

  #check:checked ~ .navbar {
    max-height: 17.7rem; /* Set the expanded height */
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.15s;
  }

  .navbar a:nth-child(1) {
    transition-delay: 0.15s;
  }

  .navbar a:nth-child(2) {
    transition-delay: 0.3s;
  }

  .navbar a:nth-child(3) {
    transition-delay: 0.45s;
  }

  .navbar a:nth-child(4) {
    transition-delay: 0.6s;
  }
}
